*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.container{
    height:100vh;
    width:100vw;
    background-color: rgb(86, 82, 82);
    display:grid;
    padding: 4rem;
    /* row-gap:1rem;
    column-gap: 1rem; */
    gap:1rem;
    /* grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
}
.item{
    background-color: rgb(110, 110, 212);
    border:5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(241, 230, 230);
    font-weight: bold;
    font-size: large;
}
@media (min-width:780px) {
    .container{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }
    .header{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .footer{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .sidebar{
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .content1{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
}

