*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*container{
    width:100vw;
    height:100vh;
    overflow-x: none;
    background: #99c5cd;
    background: linear-gradient(90deg, rgba(240, 246, 247, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.navcontainer{
    width:100vw;
    /* background-color: rgba(88, 88, 144, 0.649); */
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    min-height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width:100%;
    padding-right: 2rem;;
}
#navlist{
    list-style: none;
    width:100%;
    padding:15px;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navlogo{
    font-size: 2.8rem;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap:40px;
}
.footerbox{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width:100%;
    text-align: center;
    min-height:40px;
}
.footerbox p{
    color: azure;
    font-size: 2rem;
}
.contentbox{
    width:70%;
    margin:auto;
    border:1px solid black;
    background-color: white;
}
.contentbox{
    width:50%;
    margin:auto;
    /* border:1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
}
.rightbox img{
    height:400px;
    border-radius: 20px;
    display: flex;
    transition: all 0.6s linear 0s;
}
.rightbox:hover{
    transform: scale(1.1);
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.leftbox h2{
    font-size: 2rem;
}
.ingbox{
    font-size: 1.3rem;
}
.receipebox{
    font-size: 1.1rem;
}
.rightbox .overlay{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: rgba(120, 114, 114, 0.347);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
}
.rightbox:hover .overlay{
    opacity:1;
}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}
